html {
   margin: 0;
 }
 
 span {
   display: block;
 }
 .container {
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 #buttons {
   display: flex;
   gap: 15px;
   flex-wrap: wrap;
 }
 
 .button {
   width: 100px;
   height: 100px;
   border: solid black 2px;
 }
 
 #grey {
   background: grey;
 }
 
 #white {
   background: white;
 }
 #blue {
   background: blue;
 }
 #yellow {
   background: yellow;
 }
 #asdf {
   background-color: pink;
 }
 